/**formulário para contanto**/

#contato{
    margin-top: 7vh;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 40%;
    margin: 100px auto 0;
}

#nome, #email, #numero {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 2px solid #000000;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#nome:hover{transform: scale(1.02); transition: transform 400ms ease-in-out;}
#email:hover{transform: scale(1.02); transition: transform 400ms ease-in-out;}
#numero:hover{transform: scale(1.02); transition: transform 400ms ease-in-out;}



.select-pacote {
    padding-top: 24px;
}

.select-pacote select {
    width: 100%;
    height: 46px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid #000000;
    border-radius: 6px;
    cursor: pointer;
    box-sizing: border-box;
}

.select-pacote select option {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.observacao {
    grid-column: 1 / 3;
    grid-row: 2;
    text-align: center;
    width: 100%;
}

textarea {
    width: 90%;
    height: 125px;
    border-radius: 5px;
    resize: none;
    border: 2px solid #000000;
    padding: 8px;
}

textarea:hover{
    transform: scale(1.02); 
    transition: transform 400ms ease-in-out;}

.enviar { 
    grid-column: 1 / 3;
    grid-row: 3;
    text-align: center;
    margin-top: 16px
}

#enviar_formulario {
    width: 200px;  
    height: 40px;  
    font-size: 22px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #085976; 
    color: white;  
    transition: background-color 0.2s; 
    font-family: 'Poppins', sans-serif;
}

#enviar_formulario:hover {
    background-color: #0497c8;
    transform: scale(1.2);
    transition: transform 400ms ease-in-out;
}

/**Remover setinhas do number**/
input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
/******************************/



/*****************************/

/**Rodapé da pagina**/
footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    max-width: 100%;
    padding: 20px;
    margin-top: 40px;
    background-color: black;
    color: aliceblue;
}

/* Centraliza o texto do meio */
#mensagem-footer {
    grid-column: 2;
    justify-self: center;
    display: flex;
    text-align: center;
    font-size: 15px;
    gap: 8px;
    font-weight: 600;
}

#mensagem-footer img{
    width: 25px;
}

/* Ícones à direita */
.redes-socias {
    grid-column: 3;
    justify-self: end;
    display: flex;
    gap: 15px; 
}

.redes-socias img {
    width: 27px;
    height: 27px;
    object-fit: cover;
}
/*************************/
