@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body, html {
    overflow-x: hidden;
}

body{
    background:rgb(30, 98, 98);
}    
    
/**HEADER**/
.divisoria-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 10px 20px;
}

.divisoria-header a {
    grid-column: 1;
    justify-self: start;
    margin-left: 10px;
}

.select-container {
    grid-column: 2;
    justify-self: center;
}

.divisoria-header img {
    width: 60px;
    background-color:rgb(255, 255, 255);
    padding: 2px;
    border-radius: 10px;
}

select {
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

/**************************/

/**CARROSEL DA GALERIA**/
.galeria-inicial {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin-top: 40px;
    overflow: hidden;
}

#espacoTopo{
    margin-top: 10px;
}

.carrosel-dir,
.carrosel-esq {
    display: flex;
    width: max-content;
    animation: scroll 80s linear infinite;
    gap: 20px;
}

.carrosel-esq {
    animation-direction: reverse;
}

.galeria-inicial img {
    height: 300px;    
    width: 290px;      
    object-fit: cover;     
    border-radius: 10px;
    transition: transform 0.3s;
}

.galeria-inicial img:hover {
    transform: scale(1.05);
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* POPUP ESTILO PINTEREST */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.popup img {
    max-width: 85%;
    max-height: 85%;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

#fechar {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 55px;
    font-weight: 300;
    cursor: pointer;
    color: white;
    user-select: none;
}

/*******************************/