/****HEADER****/

#header-inicio{
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  top: 0;
  z-index: 3;
  background-color: rgb(21, 78, 78);
  box-shadow: 0px 8px 20px  rgba(0,0,0,0.30);}


#logo{
  display: flex;
  align-items: center;
  width: 19vw;
  height: 7vh;
  margin-left: 10px;
}

nav{
  margin-right: 10px;
  gap: 20px;

}

#menu{
  display: flex;
  align-items: center;
  font-weight: 600;

}

nav img{
  height: 3.5vh;
  width: auto;
}

 nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 5px;
  color: white;
  font-size: clamp(0.9rem, 1.1rem, 1.2rem);

}

nav a:hover {
    transform: scale(1.1);
    transition: transform 250ms ease-in-out;
}
/*********************/

/****CARROSEL****/

.carrosel {
  position: relative;
  margin-top: 4vh;
  width: 100%;
  height: 55vh;
  overflow: hidden;
}

#gapCarrosel{
  display: flex;
  gap: 20px;
}

.carrosel-efeito {
    display: flex;
    width: max-content;
    animation: scroll 80s linear infinite;
    height: 55vh;
}

.carrosel-efeito img {
    margin-top: 5vh;
    width: 22vw;
    height: 44vh;
    object-fit: cover;
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-50%));
    }
  }

/**********************************/

.circulo-cima {
  position: absolute;
  top: 0;              
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 2;
  background: linear-gradient( rgb(19, 77, 77), rgb(19, 78, 78));
  clip-path: ellipse(60% 90% at 50% 0%);
}

.circulo-baixo {
  position: absolute;
  bottom: 0;           
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 2; 
  background: linear-gradient(rgb(19, 80, 80), rgb(20, 81, 81));    
  clip-path: ellipse(75% 90% at 50% 100%);

}




