#sobre{
    margin-top: 5vh;

}

#SobreMimConteudo{
    margin-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#SobreMimConteudo img{
    width: 20%;
    border-radius: 15px;
    border: 4px solid;
}

#alinhamentoTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

#texto1{
    padding: 10px;
    border: 4px solid black;
    font-size: 20px;
    width: 97%;
    text-align: justify;
    border-top-right-radius: 15px;
}

.efeitoTexto{
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
}

#texto2{
    padding: 10px;
    margin-top: 20px;
    border: 4px solid black;
    width: 60%;
    font-size: 20px;
    border-bottom-right-radius: 15px;
    
}

#texto2 strong{
    font-size: 20px;
}